/* ------------------------------------- */
/* ----------DEFAULT SETUP-------------- */
/* ------------------------------------- */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    /* color: ; */
    background-color: whitesmoke;
    text-rendering: optimizeLegibility;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; 
    border-radius: 10px; */
    background-color: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 173, 173); 
  }

/* ------------------------------------- */
/* -----------REUSABLE COMPONENT-------- */
/* ------------------------------------- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 1500px;
    margin: 20px auto;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: rgb(246, 76, 114);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 12px;
}

.btn:hover,
.btn:active{
    background-color: rgb(233, 39, 81);
}

/* -------------------------------------- */
/* --------------HEADER------------------ */
/* -------------------------------------- */

.header{
    position: fixed;
    background-color: rgb(36, 37, 130);
    color: white;
    /* height: 40px; */
    height: 4vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-logo{
    float: left;
}

.logo{
    height: 26px;
    margin: 5px 0px;
    float: left;
}

.logo-name{
    color: white;
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 5px;
    padding: 3px 10px;
}

.logo-name:hover,
.logo-name:active{
    color: white;
    background-color: rgb(78, 80, 180);
}



/* Header left part */
.header-left{
    /* position: ; */
    margin-top: 1px;
    margin-bottom: 2px;
    /* float: left; */
}

.project-btn{
    padding: 5px;
    color: white;
    background-color: rgb(36, 37, 130);
    border: 0px;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 90%;
}

.project-btn:hover,
.project-btn:active{
    background-color: rgb(78, 80, 180);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: whitesmoke;
    color: black;
}

.project-table{
    /* display: none; */
    background-color: white;
    width: 500px;
    height: 300px;
    margin-top: 7px;
    padding: 0px;
    /* padding-bottom: 10px; */
}

.project-table div ul li{
    list-style-type: none;
}

.project-table-group-container{
    margin: 0px;
    padding: 0px;
    border-right: 1px solid rgb(219, 219, 219);
    height: 100%;
    overflow: auto;
}

.project-table-group{
    margin-top: 10px;
    padding: 0px;
}

.project-table-group-list li button{
    border: none;
    width: 100%;
    /* background-color: rgb(201, 201, 201); */
    background-color: white;
    font-size: 95%;
    padding: 5px;
    padding-left: 15px;
    text-align: left;
    color: black;
    transition: all 0s;
    border-radius: 0px;
}

.project-table-group-list li button:hover,
.project-table-group-list li button:active{
    background-color: rgb(245, 245, 245);
}

.project-table-selector-container{
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
}

.project-table-selector{
    /* width: 100%; */
    padding: 0px;
    margin-left: 0px;
}

.project-table-selector ul li{
    margin-top: 10px;
}

.project-table-selector ul li button{
    width: 100%;
    margin: 0px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0px;
    padding: 0px;
}

.project-table-selector ul li button:hover,
.project-table-selector ul li button:active{
    background-color: rgb(245, 245, 245);
}

.project-table-selector-item div{
    margin-top: 0px;
}

.project-table-selector-list-logo{
    margin-top: 3px;
    width: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.project-table-selector-list-name,
.project-table-selector-list-author{
    text-align: left;
}

.project-table-selector-list-name{
    font-weight: 500;
}

.project-table-selector-list-author{
    font-size: 80%;
}


/* Header right part */
.header-right{
    margin-right: 10px;
    float: right;
}

.header-right .dropdown button{
    background-color: rgb(36, 37, 130);
    border: none;
    padding: 4px 8px;
    font-size: 90%;
}

.header-right .dropdown button:hover,
.header-right .dropdown button:active{
    background-color: rgb(78, 80, 180);
}

.avatar{
    width: 25px;
    border-radius: 15px;
}

.header-action-menu{
    padding-top: 5px;
    font-weight: 500;
    margin-top: 7px;
    width: 1500px;
}

.header-action-menu-label{
    padding: 6px 10px;
}

/* -------------------------------------- */
/* ----------------MAIN------------------ */
/* -------------------------------------- */

/* -------------------------------------- */
/* -------------USER INFO---------------- */
/* -------------------------------------- */

.main{
    width: 100%;
    height: 96vh;
    margin-top: 4vh;
    overflow: auto;
}

.user-info{
    display: block;
    /* max-height: 30%; */
    width: 60%;
    overflow: auto;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 2px;
}

.user-info-avatar-area{
}

.user-info-avatar{
    width: 100%;
    height: 160px;
    border-radius: 15px;
}

.user-info-text-area{
}

.user-info-text-area div label{
    margin-bottom: 0px;
}

.user-info-text-name{
    font-size: 200%;
}

.user-info-text-username{
    font-size: 150%;
    margin-bottom: 2%;
}

/* ------------------------------------------- */
/* -----------WORKGROUND COMMON---------------- */
/* ------------------------------------------- */

.workground {
    margin: auto;
    width: 90%;
    overflow: auto;
}

.projects{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.issues{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.sector-title-holder{
    width: 98%;
    border-bottom: solid 1px black;
    padding-bottom: 15px;
}

.sector-title-holder h1{
    display: inline-block;
    font-size: 170%;
    /* margin-left: 3%; */
}

.sector-title-holder-button{
    float: right;
    background-color: green;
    border: none;
    padding: 7px 14px;
}

.sector-title-holder-button:hover,
.sector-title-holder-button:active{
    background-color: rgb(2, 104, 2);
}

.sector-title-filter{
    width: 98%;
    border-bottom: solid 1px black;
    /* padding-bottom: 15px; */
    overflow: auto;
}

.sector-title-filter-buttons{

}

.sector-title-filter-buttons li{
    float: left;
    list-style: none;
    /* padding-bottom: 15px; */
    margin-right: 15px;

}

.sector-title-filter-btn-link{
    padding: 8px 5px;
    background-color: white;
    border: none;
    padding-bottom: 15px;
}

.sector-title-filter-btn-link.inactive{
    color: gray;
}

.sector-title-filter-btn-link.inactive:hover,
.sector-title-filter-btn-link.inactive:active{
    cursor: pointer;
    border-bottom: solid 2px gray;
}

.sector-title-filter-btn-link.active{
    border-bottom: solid 2px rgb(36, 37, 130);
    font-weight: 500;
}

.sector-title-filter-btn-link.active:hover,
.sector-title-filter-btn-link.active:active{
    cursor: pointer;
}

.sector-list-status{
    display: none;
    margin-top: 15px;
    width: 98%;
    text-align: center;
    font-style: italic;
}


/* ------------------------------------------- */
/* ----------WORKGROUND PROJECTS-------------- */
/* ------------------------------------------- */

.project-list li{
    max-height: 80px;
    height: 80px;
    border-bottom: solid 1px black;
    width: 98%;
    margin-top: 10px;
    padding-bottom: 10px;
    /* overflow: hidden; */
}

.project-avatar-container{
    overflow: hidden;
    margin-top: 6px;
    margin-bottom: 5px;
}

.project-avatar-link{
    width: 100%;
    height: 60%;
    margin: auto;
}

.project-avatar-link:hover,
.project-avatar-link:active{
    text-decoration: none;
}

.project-avatar{
    color: black;
    font-size: 160%;
    text-align: center;
    background-color: pink;
    border-radius: 15px;
    padding: 15px 20px;
}

.project-info-container{
    overflow: hidden;
    margin-top: 6px;
    margin-bottom: 5px;
}

.project-name-link:hover,
.project-name-link:active{
    text-decoration: none;
    color: black;
}

.project-name-link h2{
    display: inline-block;
    font-size: 130%;
    margin: 0;
    color: black;
}

.project-info-role{
    display: inline-block;
    margin-left: 15px;
    border: solid 1px gray;
    border-radius: 15px;
    padding: 3px 10px;
    background-color: whitesmoke;
}

.project-info-lower span{
    margin-left: 15px;
}

.project-joined-container{
    overflow: hidden;
    margin-top: 6px;
    margin-bottom: 5px;
}

.project-joined{
    margin-top: 15px;
    text-align: center;
}

.project-joined label{
    margin-right: 5px;
}

.project-star-container{
    overflow: hidden;
    margin-top: 6px;
    margin-bottom: 5px;
}

.project-star{
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
}

.project-star img{
    width: 20px;
}

/* ------------------------------------------- */
/* -----------WORKGROUND ISSUES--------------- */
/* ------------------------------------------- */

.issue-header{
    font-size: 120%;
    font-weight: 500;
    width: 98%;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
    overflow: hidden;
}

.issue-header-title{
    padding: 0;
}

.issue-header-deadline{
    padding: 0;
    text-align: right;
}

.issue-list li{
    list-style: none;
    max-height: 58px;
    overflow: hidden;
    border-bottom: solid 1px black;
}

.issue-list-holder{
    width: 98%;
}

.issue-title{
    padding: 0;
}

.issue-title-link{
    color: black;
}

.issue-title-link:hover,
.issue-title-link:active{
    text-decoration: none;
    color: black;
}

.issue-deadline{
    padding: 0;
    text-align: right;
}
