/* ------------------------------------- */
/* ----------DEFAULT SETUP-------------- */
/* ------------------------------------- */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    /* color: ; */
    background-color: whitesmoke;
    text-rendering: optimizeLegibility;
}

/* ------------------------------------- */
/* -----------REUSABLE COMPONENT-------- */
/* ------------------------------------- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 1500px;
    margin: 20px auto;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: rgb(246, 76, 114);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 12px;
}

.btn:hover,
.btn:active{
    background-color: rgb(233, 39, 81);
}

/* ------------------------------------- */
/* ------------MAIN SECTION------------- */
/* ------------------------------------- */

body{
    background-image: linear-gradient(135deg,rgb(19, 20, 77), rgb(12, 13, 51));
    /* background-color: rgb(36, 37, 130); */
    height: 100vh;
}

.main-section{
    position: absolute;
    margin: 100px 400px;
}

.label{
    color: black;
    font-size: 110%;
    padding: 10px;
    /* margin-right: 10px; */
}

.login-form{
    position: absolute;
    background-color: whitesmoke;
    /* margin-top: 50px;
    margin-left: 100px; */
    padding: 5px;
    border-radius: 5px;
}

.login-input{
    border-radius: 5px;
    padding: 10px;
    color: rgb(85, 61, 103);
    font-size: 90%;
}

.login-btn{
    margin-top: 10px;
    text-align: center;
    margin-left: 105px;
}
