/* ------------------------------------- */
/* ----------DEFAULT SETUP-------------- */
/* ------------------------------------- */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    /* color: ; */
    background-color: white;
    text-rendering: optimizeLegibility;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; 
    border-radius: 10px; */
    background-color: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 173, 173); 
  }

/* ------------------------------------- */
/* -----------REUSABLE COMPONENT-------- */
/* ------------------------------------- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 1500px;
    margin: 20px auto;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: rgb(246, 76, 114);
    border: 1px solid #ffc1c1;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn:hover,
.btn:active{
    background-color: rgb(233, 39, 81);
}

.loader {
    /* display: inline-block; */
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid gray;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* -------------------------------------- */
/* --------------HEADER------------------ */
/* -------------------------------------- */

.header{
    position: fixed;
    background-color: rgb(36, 37, 130);
    color: white;
    /* height: 40px; */
    height: 4vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-logo{
    float: left;
}

.logo{
    height: 26px;
    margin: 5px 0px;
    float: left;
}

.logo-name{
    color: white;
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 5px;
    padding: 3px 10px;
}

.logo-name:hover,
.logo-name:active{
    color: white;
    background-color: rgb(78, 80, 180);
}



/* Header left part */
.header-left{
    /* position: ; */
    margin-top: 1px;
    margin-bottom: 2px;
    /* float: left; */
}

.project-btn{
    padding: 5px;
    color: white;
    background-color: rgb(36, 37, 130);
    border: 0px;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 90%;
}

.project-btn:hover,
.project-btn:active{
    background-color: rgb(78, 80, 180);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: whitesmoke;
    color: black;
}

.project-table{
    /* display: none; */
    background-color: white;
    width: 500px;
    height: 300px;
    margin-top: 7px;
    padding: 0px;
    /* padding-bottom: 10px; */
}

.project-table div ul li{
    list-style-type: none;
}

.project-table-group-container{
    margin: 0px;
    padding: 0px;
    border-right: 1px solid rgb(219, 219, 219);
    height: 100%;
    overflow: auto;
}

.project-table-group{
    margin-top: 10px;
    padding: 0px;
}

.project-table-group-list li button{
    border: none;
    width: 100%;
    /* background-color: rgb(201, 201, 201); */
    background-color: white;
    font-size: 95%;
    padding: 5px;
    padding-left: 15px;
    text-align: left;
    color: black;
    transition: all 0s;
    border-radius: 0px;
}

.project-table-group-list li button:hover,
.project-table-group-list li button:active{
    background-color: rgb(245, 245, 245);
}

.project-table-selector-container{
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
}

.project-table-selector{
    /* width: 100%; */
    padding: 0px;
    margin-left: 0px;
}

.project-table-selector ul li{
    margin-top: 10px;
}

.project-table-selector ul li button{
    width: 100%;
    margin: 0px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0px;
    padding: 0px;
}

.project-table-selector ul li button:hover,
.project-table-selector ul li button:active{
    background-color: rgb(245, 245, 245);
}

.project-table-selector-item div{
    margin-top: 0px;
}

.project-table-selector-list-logo{
    margin-top: 3px;
    width: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.project-table-selector-list-name,
.project-table-selector-list-author{
    text-align: left;
}

.project-table-selector-list-name{
    font-weight: 500;
}

.project-table-selector-list-author{
    font-size: 80%;
}


/* Header right part */
.header-right{
    margin-right: 10px;
    float: right;
}

.header-right .dropdown button{
    background-color: rgb(36, 37, 130);
    border: none;
    padding: 4px 8px;
    font-size: 90%;
}

.header-right .dropdown button:hover,
.header-right .dropdown button:active{
    background-color: rgb(78, 80, 180);
}

.avatar{
    width: 25px;
    border-radius: 15px;
}

.header-action-menu{
    padding-top: 5px;
    font-weight: 500;
    margin-top: 7px;
    width: 1500px;
}

.header-action-menu-label{
    padding: 6px 10px;
}

/* -------------------------------------- */
/* ----------------MAIN------------------ */
/* -------------------------------------- */

.main{
    position: fixed;
    width: 80%;
    height: 96vh;
    top: 4vh;
    overflow: auto;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.new-issue-title{
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-left: 50px;
    margin-bottom: 20px;
}


/* -------------------------------------- */
/* ----------------FORM------------------ */
/* -------------------------------------- */

.new-issue-body{
}

.error{
    color: red;
}

.new-issue-steps{
    /* background-color: blue; */
    height: 60vh;
    border-right: solid 1px rgb(175, 175, 175);
    padding-top: 2%;
    padding-right: 0px;
}

.new-issue-steps-list li{
    list-style: none;
    margin-bottom: 15px;
    text-align: right;
    /* border-right: solid 5px blue; */
}

.new-issue-steps-item{
    background-color: white;
    border: none;
    width: 180px;
    text-align: left;
    padding: 10px 10px;
    /* padding-bottom: 17px; */
    border-bottom: solid 1px rgb(175, 175, 175);
    cursor: pointer;
}

.new-issue-steps-list li.active{
    border-right: solid 5px blue;
}

.new-issue-steps-list li.inactive{
    border-right: solid 5px white;
}

.new-issue-steps-list li.inactive button{
    color: gray;
    cursor: auto;
}

.new-issue-form{
    /* background-color: green; */
    height: 60vh;
}

.new-issue-form-entry{
    width: 100%;
    padding-left: 15px;
    /* margin-bottom: 100px; */
}

.new-issue-form-entry h2{
    font-size: 150%;
    margin-bottom: 20px;
}

.new-issue-form-entry input{
    border-radius: 5px;
    border-color: rgb(175, 175, 175);
    padding: 5px 8px;
    margin-bottom: 10px;
}

.new-issue-form-entry textarea{
    padding: 5px 8px;
    margin-bottom: 10px;
    resize: none;
}

.new-issue-form-entry p{
    font-size: 80%;
    font-style: italic;
}

.new-issue-form-entry div{
    margin-bottom: 10px;
}

.new-issue-form-entry div.loader{
    float: right;
    margin-right: 15px;
}

.new-issue-form-entry div input{
    display: block;
    border-radius: 5px;
    border-color: rgb(175, 175, 175);
    padding: 5px 8px;
    margin-bottom: 0px;
    width: 300px;
}

.new-issue-form-entry button{
    float: right;
    margin-right: 15px;
    margin-bottom: 100px;
}

/* .new-issue-form-entry label{
    display: none;
    margin-right: 30px;
}

.new-project-form-entry select{
    margin-bottom: 15px;
    padding: 5px 8px;
    border-radius: 10px;
} */

/* .new-project-form-codebase-options{
    overflow: hidden;
    border-bottom: solid 1px rgb(175, 175, 175);
    width: 46%;
}

.new-project-form-codebase-options li{
    float: left;
    list-style: none;
    margin-left: 8px;
    margin-right: 8px;
}

.new-project-form-codebase-button{
    background-color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    padding-bottom: 10px;
}

.new-project-form-codebase-button.active{
    border-bottom: solid 3px blue;
    cursor: auto;
} */

.new-issue-form-members-recommend{
    /* display: inline-block; */
    display: none;
    position: absolute;
    border: solid 1px black;
    border-bottom: none;
    width: 300px;
}

.new-issue-form-members-recommend-list{
    margin: 0px;
}

.new-issue-form-members-recommend-list li{
    list-style: none;
    padding: 5px 5px;
    border-bottom: solid 1px black;
    cursor: pointer;
    background-color: white;
}

.new-issue-form-members-recommend-list li:hover,
.new-issue-form-members-recommend-list li:active{
    background-color: whitesmoke;
}

/* .new-issue-members-usernames{
    margin-bottom: 10px;
    width: 100%;
    overflow: auto;
}

.new-project-members-username{
    display: inline;
    background-color: rgb(253, 183, 175);
    color: rgb(233, 39, 81);
    padding: 2px 5px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.new-project-members-username span{
    cursor: pointer;
} */

.new-issue-form-review{
    margin-left: 15px;
    margin-bottom: 10px;
    font-style: italic;
}

/* .new-project-form-review ul{
    margin-left: 30px;
    margin-bottom: 10px;
    font-style: italic;
} */

/* #newProjectCodebase{
    width: 300px;
} */

#new-issue-form-button-next{
    overflow: hidden;
    margin-bottom: 100px;
}

/* -------------------------------------- */
/* ---------------DISPLAY---------------- */
/* -------------------------------------- */

.new-issue-form-1{
    display: block;
}

.new-issue-form-2{
    display: none;
}
