/* ------------------------------------- */
/* ----------DEFAULT SETUP-------------- */
/* ------------------------------------- */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    /* color: ; */
    background-color: rgb(255, 255, 255);
    text-rendering: optimizeLegibility;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; 
    border-radius: 10px; */
    background-color: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(129, 129, 129); 
  }

/* ------------------------------------- */
/* -----------REUSABLE COMPONENT-------- */
/* ------------------------------------- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 1500px;
    margin: 20px auto;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: rgb(246, 76, 114);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 12px;
}

.btn:hover,
.btn:active{
    background-color: rgb(233, 39, 81);
}

/* -------------------------------------- */
/* --------------HEADER------------------ */
/* -------------------------------------- */

.header{
    position: fixed;
    background-color: rgb(36, 37, 130);
    color: white;
    /* height: 40px; */
    height: 4vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo{
    height: 26px;
    margin: 5px 0px;
    float: left;
}

.logo-name{
    color: white;
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 5px;
    padding: 3px 10px;
}

.logo-name:hover,
.logo-name:active{
    color: white;
    background-color: rgb(78, 80, 180);
}



/* Header left part */
.header-left{
    /* position: ; */
    margin-top: 1px;
    margin-bottom: 2px;
    /* float: left; */
}

.project-btn{
    padding: 5px;
    color: white;
    background-color: rgb(36, 37, 130);
    border: 0px;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 90%;
}

.project-btn:hover,
.project-btn:active{
    background-color: rgb(78, 80, 180);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: whitesmoke;
    color: black;
}

.project-table{
    /* display: none; */
    background-color: white;
    width: 500px;
    height: 300px;
    margin-top: 7px;
    padding: 0px;
    /* padding-bottom: 10px; */
}

.project-table div ul li{
    list-style-type: none;
}

.project-table-group-container{
    margin: 0px;
    padding: 0px;
    border-right: 1px solid rgb(219, 219, 219);
    height: 100%;
    overflow: auto;
}

.project-table-group{
    margin-top: 10px;
    padding: 0px;
}

.project-table-group-list li button{
    border: none;
    width: 100%;
    /* background-color: rgb(201, 201, 201); */
    background-color: white;
    font-size: 95%;
    padding: 5px;
    padding-left: 15px;
    text-align: left;
    color: black;
    transition: all 0s;
    border-radius: 0px;
}

.project-table-group-list li button.active{
    background-color: rgb(201, 201, 201);
    color: black;
    cursor: auto;
}

.project-table-group-list li button.inactive{
    color: rgb(0, 0, 0);
}

.project-table-group-list li button.inactive:hover,
.project-table-group-list li button.inactive:active{
    background-color: rgb(245, 245, 245);
}

.project-table-selector-container{
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
}

.project-table-selector{
    /* width: 100%; */
    padding: 0px;
    margin-left: 0px;
}

.project-table-selector-loading{
    display: none;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

.project-table-selector-notification{
    display: none;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

.project-table-selector ul li{
    margin-top: 10px;
}

.project-table-selector ul li button{
    width: 100%;
    margin: 0px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0px;
    padding: 0px;
}

.project-table-selector ul li button:hover,
.project-table-selector ul li button:active{
    background-color: rgb(245, 245, 245);
}

.project-table-selector-item div{
    margin-top: 0px;
}

.project-table-selector-list-logo{
    margin-top: 3px;
    width: 40px;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: pink;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 28px;
    padding-left: 20px;
}

.project-table-selector-list-name,
.project-table-selector-list-author{
    text-align: left;
}

.project-table-selector-list-name{
    font-weight: 500;
}

.project-table-selector-list-author{
    font-size: 80%;
}

.project-table-selector-list-status{
    padding-top: 25%;
    color: rgb(192, 192, 192);
    font-size: 80%;
}


/* Header right part */
.header-right{
    margin-right: 10px;
}

.header-right .dropdown button{
    background-color: rgb(36, 37, 130);
    border: none;
    padding: 4px 8px;
    font-size: 90%;
}

.header-right .dropdown button:hover,
.header-right .dropdown button:active{
    background-color: rgb(78, 80, 180);
}

.avatar{
    width: 25px;
    border-radius: 10px;
}

.header-action-menu{
    padding-top: 5px;
    font-weight: 500;
    margin-top: 7px;
    width: 1500px;
}

.header-action-menu-label{
    padding: 6px 10px;
}

/* -------------------------------------- */
/* -------------TOOLBAR------------------ */
/* -------------------------------------- */
.toolbar{
    position: fixed;
    background-color: rgb(237, 247, 252);
    /* margin-top: 40px; */
    width: 100%;
    border-bottom: 1px solid rgb(180, 180, 180);
    /* height: 25px; */
    height: 2.5vh;
    font-size: 90%;
    transition: all .2s;
    z-index: 900;
}

.toolbar-menu{
    width: 100%;
    padding-left: 30px;
}

.toolbar-menu li{
    float: left;
    list-style: none;
    /* margin-left: 10px; */
}

.toolbar-menu-btn{
    /* display: inline; */
    /* position: relative; */
    border: none;
    background-color: rgb(237, 247, 252);
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1px;
}

.toolbar-menu-btn:hover,
.toolbar-menu-btn:active{
    background-color: rgb(78, 80, 180);
    color: white;
    border: none;
}

.toolbar-menu-dropdown{
    display: none;
    background-color: rgb(237, 247, 252);
    position: fixed;
    width: 200px;
    border: 1px solid rgb(180, 180, 180);
    margin-top: 3px;
}

.toolbar-menu-dropdown ul li{
    width: 100%;
    /* display: block; */
    margin-left: 0px;
}

.toolbar-menu-dropdown-btn{
    width: 100%;
    border: none;
    background-color: rgb(237, 247, 252);
    color: black;
    border-radius: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    text-align: left;
    margin-top: 1px;
    margin-bottom: 1px;
}

.toolbar-menu-dropdown-btn:hover,
.toolbar-menu-dropdown-btn:active{
    background-color: rgb(209, 220, 226);
    /* color: white; */
    border-top: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(180, 180, 180);
    margin-top: 0px;
    margin-bottom: 0px;
}

/* -------------------------------------- */
/* ------------LEFT SIDEBAR------------- */
/* -------------------------------------- */

.leftbar{
    position: fixed;
    width: 12%;
    max-width: 12%;
    height: 96vh;
    background-color: rgb(237, 247, 252);
    border-right: 1px solid rgb(180, 180, 180);
    margin-top: 4vh;
    overflow: auto;
}

.codebase-area{
    width: 100%;
    height: 60%;
    overflow: auto;
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(192, 192, 192);
    padding-bottom: 80px;
}

.active-connections{
    width: 100%;
    height: 40%;
    padding-top: 10px;
    overflow: auto;
    padding-bottom: 50px;
}

.active-connections h2{
    font-size: 100%;
    margin-left: 10px;
}

.active-connections-list{
    width: 100%;
}

.active-connections-list li{
    background-color: white;
    border: solid 1px rgb(192, 192, 192);
    border-radius: 10px;
    padding: 3px 7px;
    margin-top: 10px;
    margin: 5px;
}

.active-connection-name{
    font-style: bold;
    font-size: 90%;
}

.active-connection-file{
    word-wrap: break-word;
    font-style: italic;
    font-size: 80%;
}

#refresh{
    padding: 3px 5px;
    background-color: transparent;
    color: black;
    border: none;
    transition: 1s;
}

#refresh:hover,
#refresh:active{
    background-color: rgb(192, 192, 192);
    color: white;
}

#refresh i{
    font-size: 80%;
}


/* -------------------------------------- */
/* ------------RIGHT SIDEBAR------------- */
/* -------------------------------------- */

.rightbar{
    position: fixed;
    right: 0;
    width: 12%;
    height: 100vh;
    background-color: rgb(237, 247, 252);
    border-left: 1px solid rgb(128, 128, 128);
    margin-top: 4vh;
}

.chat-area{
    width: 100%;
    height: 100%;
}

.chat-content{
    height: 75%;
    overflow: auto;
    padding-bottom: 20px;
    border-bottom: solid 1px rgb(192, 192, 192);
}

.chat-content-notification{
    margin-top: 10px;
    font-size: 80%;
    font-style: italic;
    text-align: center;
}

.chat-content-item{
    margin-top: 10px;
    margin: 5px;
    padding: 7px 10px;
    border: solid 1px rgb(192, 192, 192);
    border-radius: 10px;
    background-color: white;
}

.chat-content-item-author {
    color: rgb(128, 128, 128);
    font-size: 80%;
    font-style: italic;
}

.chat-content-item-body{
    white-space:pre-wrap;
}

.chat-input{
    margin-top: 10%;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.chat-input textarea{
    margin-left: 2%;
    width: 96%;
    resize: none;
    padding: 3px 10px;
}

.chat-input button{
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.chat-input span{
    float: right;
    font-size: 80%;
    font-style: italic;
    margin-bottom: 10px;
    padding: 5px 10px;
}



/* -------------------------------------- */
/* ----------------TERMINAL-------------- */
/* -------------------------------------- */

#terminal{
    position: fixed;
    height: 25vh;
    margin-left: 12%;
    bottom: 0;
    width: 76%;
    line-height: 20px;
    overflow: auto;
}


/* -------------------------------------- */
/* ---------------PLAYGROUND------------- */
/* -------------------------------------- */

.playground{
    position: fixed;
    margin-top: 4vh;
    margin-left: 12%;
    margin-right: 12%;
    height: 71vh; 
    /* overflow: auto; */
    width: 76%;
    border: solid 1px white;
}

/* TABS */

.playground-tabs{
    width: 100%;
    overflow: auto;
    background-color: #ccc;
    padding-top: 3px;
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: thin;
    /* height: 3.2vh; */
}

.playground-tabs-item{
    display: inline-block;
    width: auto;
    margin-left: 5px;
    margin-right: 3px;
    /* padding: 1px 10px;
    padding-right: 5px; */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: solid 1px black;
    border-bottom: none;
    cursor: pointer;
}

.playground-tabs-item.active{
    background-color: rgb(64, 64, 64);
    color: white;
}

.playground-tabs-item.inactive{
    background-color: #ccc;
    color: black;
}

.playground-tabs-item-name{
    display: inline;
    font-size: 90%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
}

.playground-tabs-item-close{
    display: inline;
    cursor: pointer;
    font-size: 90%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
    /* padding: 3px; */
}

.playground-tabs-item-close:hover,
.playground-tabs-item-close:active{
    color: red;
}

/* PLAYGROUND CONTENT */

.playground-content{
    height: 67.8vh;
}

.playground-content form textarea{
    width: 100%;
    height: 67.8vh;
    border: none;
    margin-bottom: -6px;
}



/* -------------------------------------- */
/* ---------------MODAL BOX-------------- */
/* -------------------------------------- */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
  
  /* Modal Content */
.modal-content {
    position: fixed;
    top: 120px;
    left: 50%;
    background-color: whitesmoke;
    transform: translate(-50%, 0);
    width: 50%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
  
  /* The Close Button */
.modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    position: relative;
    padding: 5px 16px;
    background-color: rgb(36, 37, 130);
    color: white;
    font-size: 80%;
}

.modal-header h3{
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 3%;
}
  
.modal-body {
    position: relative;
    padding: 16px;
}

.modal-body-row{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.modal-body-row-label {
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.modal-body-row-input {
    margin-left: 0px;
    display: flex;
}

.modal-body-row-input-prefix{
    margin-right: 10px;
}

.modal-body-row-input-input{
    display: inline;
    flex: 1;
    margin-left: 5px;
    padding: 3px 5px;
    border-radius: 5px;
}

.modal-body-row-input-suffix{

}

.modal-body-row-input-guide{
    display: block;
}

.modal-body-buttons {
    position: relative;
    float: right;
    margin-top: 20px;
}

.modal-body-buttons button {
    width: 100px;
    margin-right: 20px;
}


  
  /* Add Animation */
@-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0} 
    to {top: 120px; opacity: 1}
}
  
@keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 120px; opacity: 1}
}
  
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
  
@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}




/* -------------------------------------- */
/* ---------------CODEMIRROR------------- */
/* -------------------------------------- */

/* .CodeMirror-linenumber {
    padding: 1px 20px 0 5px;
    color: #c8d2d7;
    font-size: 10px;
} */