/* ------------------------------------- */
/* ----------DEFAULT SETUP-------------- */
/* ------------------------------------- */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    /* color: ; */
    background-color: whitesmoke;
    text-rendering: optimizeLegibility;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; 
    border-radius: 10px; */
    background-color: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 173, 173); 
  }

/* ------------------------------------- */
/* -----------REUSABLE COMPONENT-------- */
/* ------------------------------------- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 1500px;
    margin: 20px auto;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: rgb(246, 76, 114);
    border: 1px solid #ffc1c1;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn:hover,
.btn:active{
    background-color: rgb(233, 39, 81);
}

/* -------------------------------------- */
/* --------------HEADER------------------ */
/* -------------------------------------- */

.header{
    position: fixed;
    background-color: rgb(36, 37, 130);
    color: white;
    /* height: 40px; */
    height: 4vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-logo{
    float: left;
}

.logo{
    height: 26px;
    margin: 5px 0px;
    float: left;
}

.logo-name{
    color: white;
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 5px;
    padding: 3px 10px;
}

.logo-name:hover,
.logo-name:active{
    color: white;
    background-color: rgb(78, 80, 180);
}



/* Header left part */
.header-left{
    /* position: ; */
    margin-top: 1px;
    margin-bottom: 2px;
    /* float: left; */
}

.project-btn{
    padding: 5px;
    color: white;
    background-color: rgb(36, 37, 130);
    border: 0px;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 90%;
}

.project-btn:hover,
.project-btn:active{
    background-color: rgb(78, 80, 180);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: whitesmoke;
    color: black;
}

.project-table{
    /* display: none; */
    background-color: white;
    width: 500px;
    height: 300px;
    margin-top: 7px;
    padding: 0px;
    /* padding-bottom: 10px; */
}

.project-table div ul li{
    list-style-type: none;
}

.project-table-group-container{
    margin: 0px;
    padding: 0px;
    border-right: 1px solid rgb(219, 219, 219);
    height: 100%;
    overflow: auto;
}

.project-table-group{
    margin-top: 10px;
    padding: 0px;
}

.project-table-group-list li button{
    border: none;
    width: 100%;
    /* background-color: rgb(201, 201, 201); */
    background-color: white;
    font-size: 95%;
    padding: 5px;
    padding-left: 15px;
    text-align: left;
    color: black;
    transition: all 0s;
    border-radius: 0px;
}

.project-table-group-list li button:hover,
.project-table-group-list li button:active{
    background-color: rgb(245, 245, 245);
}

.project-table-selector-container{
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
}

.project-table-selector{
    /* width: 100%; */
    padding: 0px;
    margin-left: 0px;
}

.project-table-selector ul li{
    margin-top: 10px;
}

.project-table-selector ul li button{
    width: 100%;
    margin: 0px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0px;
    padding: 0px;
}

.project-table-selector ul li button:hover,
.project-table-selector ul li button:active{
    background-color: rgb(245, 245, 245);
}

.project-table-selector-item div{
    margin-top: 0px;
}

.project-table-selector-list-logo{
    margin-top: 3px;
    width: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.project-table-selector-list-name,
.project-table-selector-list-author{
    text-align: left;
}

.project-table-selector-list-name{
    font-weight: 500;
}

.project-table-selector-list-author{
    font-size: 80%;
}


/* Header right part */
.header-right{
    margin-right: 10px;
    float: right;
}

.header-right .dropdown button{
    background-color: rgb(36, 37, 130);
    border: none;
    padding: 4px 8px;
    font-size: 90%;
}

.header-right .dropdown button:hover,
.header-right .dropdown button:active{
    background-color: rgb(78, 80, 180);
}

.avatar{
    width: 25px;
    border-radius: 15px;
}

.header-action-menu{
    padding-top: 5px;
    font-weight: 500;
    margin-top: 7px;
    width: 1500px;
}

.header-action-menu-label{
    padding: 6px 10px;
}

/* -------------------------------------- */
/* ----------------MAIN------------------ */
/* -------------------------------------- */

/* -------------------------------------- */
/* -------------USER INFO---------------- */
/* -------------------------------------- */

.main{
    width: 100%;
    height: 96vh;
    margin-top: 4vh;
    overflow: auto;
}

.user-info{
    display: block;
    /* max-height: 30%; */
    width: 60%;
    overflow: auto;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 2px;
}

.user-info-avatar-area{
}

.user-info-avatar{
    width: 100%;
    height: 160px;
    border-radius: 15px;
}

.user-info-text-area{
}

.user-info-text-area div label{
    margin-bottom: 0px;
}

.user-info-text-name{
    font-size: 200%;
}

.user-info-text-username{
    font-size: 150%;
    margin-bottom: 2%;
}

/* ------------------------------------------- */
/* --------------USER SETTINGS---------------- */
/* ------------------------------------------- */

.user-settings{
    margin: auto;
    margin-top: 30px;
    /* background-color: red; */
    width: 60%;
}

.user-settings-menu{
    width: 100%;
    margin-bottom: 20px;
}

.user-settings-menu-list{
    overflow: hidden;
    margin: 0px;
    border-bottom: solid 1px black;
}

.user-settings-menu-list li{
    list-style: none;
    float: left;
}

.user-settings-menu-button{
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 10px;
    width: 70px;
    background-color: white;
    border: none;
}

.user-settings-menu-button.active{
    border-bottom: solid 3px blue;
    cursor: auto;
}

.user-settings-menu-button.inactive{
    color: rgb(173, 173, 173);
    cursor: pointer;
}

.user-settings-menu-button.inactive:hover,
.user-settings-menu-button.inactive:active{
    border-bottom: solid 3px rgb(173, 173, 173);
}

/* ------------------------------------------- */
/* ----------------USER FORM------------------ */
/* ------------------------------------------- */

.user-settings-form-holder{
    width: 100%;
}

.user-settings-form{
    width: 100%;
    padding-bottom: 100px;
}

.user-settings-form-entry{
    overflow: hidden;
}

.user-settings-form-entry-label h2{
    font-size: 120%;
    text-align: center;
    margin: 0px;
}

.user-settings-form-entry-label h2 span{
    color: red;
    margin-left: 5px;
}

.user-settings-form-entry-input{
    /* width: 100%; */
}

.user-settings-form-entry-input input{
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    width: 300px;
}

.user-settings-form-entry-input p{
    margin-bottom: 10px;
    font-style: italic;
}

.user-settings-form-entry-input select{
    width: 200px;
    padding: 5px 10px;
    border-radius: 10px;
}

.user-settings-form-buttons button{
    float: right;
    margin-right: 20px;
    width: 100px;
}

.inputError{
    display: none;
    color: red;
}