/* ------------------------------------- */
/* ----------DEFAULT SETUP-------------- */
/* ------------------------------------- */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    /* color: ; */
    background-color: white;
    text-rendering: optimizeLegibility;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; 
    border-radius: 10px; */
    background-color: none;
    border-bottom: solid 1px black;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 173, 173); 
  }

/* ------------------------------------- */
/* -----------REUSABLE COMPONENT-------- */
/* ------------------------------------- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 1500px;
    margin: 20px auto;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: rgb(246, 76, 114);
    border: 1px solid #ffc1c1;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn:hover,
.btn:active{
    background-color: rgb(233, 39, 81);
}

.loader {
    /* display: inline-block; */
    display: none;
    margin-right: 15px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid gray;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* -------------------------------------- */
/* --------------HEADER------------------ */
/* -------------------------------------- */

.header{
    position: fixed;
    background-color: rgb(36, 37, 130);
    color: white;
    /* height: 40px; */
    height: 4vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-logo{
    float: left;
}

.logo{
    height: 26px;
    margin: 5px 0px;
    float: left;
}

.logo-name{
    color: white;
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 5px;
    padding: 3px 10px;
}

.logo-name:hover,
.logo-name:active{
    color: white;
    background-color: rgb(78, 80, 180);
}



/* Header left part */
.header-left{
    /* position: ; */
    margin-top: 1px;
    margin-bottom: 2px;
    /* float: left; */
}

.project-btn{
    padding: 5px;
    color: white;
    background-color: rgb(36, 37, 130);
    border: 0px;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 90%;
}

.project-btn:hover,
.project-btn:active{
    background-color: rgb(78, 80, 180);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: whitesmoke;
    color: black;
}

.project-table{
    /* display: none; */
    background-color: white;
    width: 500px;
    height: 300px;
    margin-top: 7px;
    padding: 0px;
    /* padding-bottom: 10px; */
}

.project-table div ul li{
    list-style-type: none;
}

.project-table-group-container{
    margin: 0px;
    padding: 0px;
    border-right: 1px solid rgb(219, 219, 219);
    height: 100%;
    overflow: auto;
}

.project-table-group{
    margin-top: 10px;
    padding: 0px;
}

.project-table-group-list li button{
    border: none;
    width: 100%;
    /* background-color: rgb(201, 201, 201); */
    background-color: white;
    font-size: 95%;
    padding: 5px;
    padding-left: 15px;
    text-align: left;
    color: black;
    transition: all 0s;
    border-radius: 0px;
}

.project-table-group-list li button:hover,
.project-table-group-list li button:active{
    background-color: rgb(245, 245, 245);
}

.project-table-selector-container{
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: auto;
}

.project-table-selector{
    /* width: 100%; */
    padding: 0px;
    margin-left: 0px;
}

.project-table-selector ul li{
    margin-top: 10px;
}

.project-table-selector ul li button{
    width: 100%;
    margin: 0px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0px;
    padding: 0px;
}

.project-table-selector ul li button:hover,
.project-table-selector ul li button:active{
    background-color: rgb(245, 245, 245);
}

.project-table-selector-item div{
    margin-top: 0px;
}

.project-table-selector-list-logo{
    margin-top: 3px;
    width: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.project-table-selector-list-name,
.project-table-selector-list-author{
    text-align: left;
}

.project-table-selector-list-name{
    font-weight: 500;
}

.project-table-selector-list-author{
    font-size: 80%;
}


/* Header right part */
.header-right{
    margin-right: 10px;
    float: right;
}

.header-right .dropdown button{
    background-color: rgb(36, 37, 130);
    border: none;
    padding: 4px 8px;
    font-size: 90%;
}

.header-right .dropdown button:hover,
.header-right .dropdown button:active{
    background-color: rgb(78, 80, 180);
}

.avatar{
    width: 25px;
    border-radius: 15px;
}

.header-action-menu{
    padding-top: 5px;
    font-weight: 500;
    margin-top: 7px;
    width: 1500px;
}

.header-action-menu-label{
    padding: 6px 10px;
}

/* -------------------------------------- */
/* ----------------MAIN------------------ */
/* -------------------------------------- */

.main{
    position: fixed;
    width: 100%;
    height: 96vh;
    top: 4vh;
    overflow: auto;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.project-title{
    /* background-color: green; */
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    overflow: hidden;
    /* height: 16vh; */
    height: 25vh;
}

.project-avatar-holder {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.project-avatar {
    display: inline-block;
    /* background-color: pink; */
    padding: 30px 50px;
    font-size: 250%;
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 75px;
}

.project-summary-holder h1{
    font-size: 200%;
    margin-bottom: 10px;
}

.project-summary-row{
    overflow: hidden;
}

.project-summary-row h2{
    font-size: 150%;
    margin-bottom: 10px;
    font-weight: 400;
}

.project-summary-col{
    padding: 0px;
    font-size: 110%;
}

.project-summary-col span{
    margin-left: 15px;
}


/* -------------------------------------- */
/* -------------PROJECT BODY------------- */
/* -------------------------------------- */


.project-body{
    /* background-color: red; */
    display: block;
    width: 80%;
    margin: auto;
    /* height: 5vh; */
}

.project-menu{
    width: 100%;
    margin-bottom: 20px;
}

.project-menu-list{
    overflow: hidden;
    margin: 0px;
    border-bottom: solid 1px black;
}

.project-menu-list li{
    list-style: none;
    float: left;
}

.project-menu-button{
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 90px;
    background-color: white;
    border: none;
    font-size: 110%;
}

.project-menu-button.active{
    font-weight: 500;
    border-bottom: solid 3px blue;
    cursor: auto;
}

.project-menu-button.inactive{
    color: rgb(173, 173, 173);
    cursor: pointer;
}

.project-menu-button.inactive:hover,
.project-menu-button.inactive:active{
    border-bottom: solid 3px rgb(173, 173, 173);
}

/* -------------------------------------- */
/* ------------PROJECT VIEW-------------- */
/* -------------------------------------- */

.project-view-holder{
    overflow: auto;
}

.project-view-row{
    overflow: hidden;
    width: 100%;
    /* background-color: red; */
}

.project-view-row-label{
    /* background-color: green; */
    font-weight: 500;
    text-align: right;
    padding-top: 10px;
}

.project-view-row-input{
    /* background-color: blue; */
}

.project-view-row-input input{
    padding: 8px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-view-row-input p{
    font-style: italic;
    margin-bottom: 10px;
}

.project-view-row-input textarea{
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
}

.project-view-row-input select{
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.project-view-separator{
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: solid 1px black;
}

.project-buttons{
    margin-bottom: 200px;
}

.project-buttons li{
    list-style: none;
    float: right;
}

.project-buttons li button{
    margin-right: 15px;
}

#projectStar{
    margin-top: 17px;
}

#projectSaveStatus {
    font-style: italic;
    color: gray;
    margin-right: 20px;
}

/* -------------------------------------- */
/* ----------------ISSUES---------------- */
/* -------------------------------------- */

.issue-view-holder{
    /* position: static; */
    display: inline-block;
    border: solid 1px black;
    border-radius: 10px;
    width: 33%;
    padding: 15px;
    overflow: auto;
    max-height: 460px;
}

.project-view-issues-buttons{
    margin-bottom: 10px;
}

.project-view-issues-button{
    float: right;
    background-color: green;
    margin-bottom: 15px;
}

.project-view-issues-button:hover,
.project-view-issues-button:active{
    background-color: rgb(1, 100, 1);
}

.issue-title{
    font-size: 150%;
    display: inline;
}

.issue-status{
    float: right;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.issue-init{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 90%;
    font-style: italic;
}

.issue-deadline{
    margin-bottom: 5px;
    font-size: 90%;
    font-style: italic;
}

.issue-deadline span{
    font-weight: 500;
    color: red;
}

.issue-creator{
    margin-bottom: 10px;
    font-size: 90%;
    font-style: italic;
}

.issue-description{
    margin-bottom: 5px;
}

.issue-urgency{
    margin-bottom: 5px;
    font-size: 90%;
    margin-bottom: 15px;
}

.issue-urgency span{
    font-weight: 500;
}

.issue-assign{
    position: relative;
    display: inline-block;
    width: 70%;
}

.issue-assign-input{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.issue-assign-recommend-table{
    display: none;
    border: solid 1px black;
    border-bottom: none;
    background-color: white;
    width: 100%;
    overflow: auto;
    max-height: 71px;
}

.issue-assign-recommend-list{
    margin-bottom: 0;
}

.issue-assign-recommend-list li{
    padding: 5px;
    border-bottom: solid 1px black;
    list-style: none;
    padding-left: 10px;
    cursor: pointer;
}

.issue-assign-recommend-list li:hover,
.issue-assign-recommend-list li:active{
    background-color: rgb(173, 173, 173);
}

.issue-buttons{
    /* position: absolute; */
    float: right;
}

.issue-button-action{
    width: 90px;
}

.issue-button-action-list{
    /* display: block; */
    display: none;
    position: absolute;
    /* border: solid 1px black; */
    width: 90px;
    /* z-index: 1000; */
}

.issue-button-action-list button{
    display: block;
    width: 100%;
}


/* -------------------------------------- */
/* ---------------MEMBER----------------- */
/* -------------------------------------- */

.member-view-list{
    /* background-color: red; */
    /* height: 10vh; */
    border-right: solid 1px rgb(173, 173, 173);
    padding: 0px;
}

.member-view{
    overflow: hidden;
    width: 98%;
    border: solid 1px rgb(173, 173, 173);
    margin-top: 10px;
    margin-bottom: 10px;
}

.member-view-avatar{
    padding: 0px;
    padding-left: 10px;
}

.member-view-avatar img{
    width: 120px;
    border-radius: 15px;
}

.member-view-info{
    padding: 0px;
}

.member-view-info-upper{
    padding-top: 10px;
    padding-left: 20px;
}

.member-view-info-upper h2{
    font-size: 150%;
}

.member-view-info-lower{
    overflow: hidden;
}

.member-view-info-role{
    padding-top: 20px;
    padding-left: 20px;
}

.member-view-info-role select{
    margin-left: 10px;
    background-color: rgb(219, 219, 219);
    padding: 5px 8px;
    border-radius: 10px;
    border: solid 1px black;
}

.member-view-info-join{
    padding-top: 20px;
    padding-left: 20px;
}

.member-view-info-join span{
    margin-left: 10px;
}

.member-view-button{
    padding-top: 25px;
    padding-left: 30px;
}

.member-view-button span{
    /* font-size: 150%; */
    margin-right: 25px;
    cursor: pointer;
}

.member-view-button-ok:hover,
.member-view-button-ok:active{
    color: greenyellow;
}

.member-view-button-cancel:hover,
.member-view-button-cancel:active{
    color: red;
}

.member-view-button-ok{
    font-size: 150%;
}

.member-view-button-cancel{
    font-size: 200%;
}

.member-view-button-update{
    margin-bottom: 10px;
    display: block;
    margin: auto;
}

.member-view-button-remove{
    display: block;
    margin: auto;
}

.member-action{
}

.member-action-members{
    position: relative;
    margin-bottom: 15px;
}

.member-action-members input{
    display: block;
    width: 80%;
}

.member-action-members-recommend{
    /* display: inline-block; */
    display: none;
    position: absolute;
    border: solid 1px black;
    border-bottom: none;
    width: 80%;
}

.member-action-members-recommend-list{
    margin: 0px;
}

.member-action-members-recommend-list li{
    list-style: none;
    padding: 5px 5px;
    border-bottom: solid 1px black;
    cursor: pointer;
    background-color: white;
}

.member-action-members-recommend-list li:hover,
.member-action-members-recommend-list li:active{
    background-color: whitesmoke;
}

.member-action-usernames{
    margin-bottom: 10px;
    width: 100%;
    overflow: auto;
}

.member-action-username{
    display: inline;
    background-color: rgb(253, 183, 175);
    color: rgb(233, 39, 81);
    padding: 2px 5px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.member-action-username span{
    cursor: pointer;
}

.member-action-buttons{
    margin-top: 25px;
}

.member-action-role{
    padding: 5px;
    border-radius: 10px;
}

.member-action-buttons button{
    float: right;
}

.member-action-buttons span{
    margin-right: 10px;
}



/* -------------------------------------- */
/* ---------------SERVER----------------- */
/* -------------------------------------- */

.project-view-servers-buttons{
    margin-bottom: 10px;
}

.project-view-servers-button{
    float: right;
    background-color: green;
    margin-bottom: 15px;
}

.project-view-servers-button:hover,
.project-view-servers-button:active{
    background-color: rgb(1, 100, 1);
}


.server-view-holder{
    display: inline-block;
    border: solid 1px black;
    border-radius: 10px;
    width: 33%;
    padding: 15px;
    overflow: auto;
    max-height: 460px;
}

.server-title{
    font-size: 150%;
    display: inline;
}

.server-init{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 90%;
    font-style: italic;
}

.server-type{
    margin-bottom: 20px;
}

.server-type span{
    background-color: rgb(219, 219, 219);
    padding: 5px 8px;
    border: solid 1px black;
    border-radius: 10px;
    margin-left: 10px;
}

.server-status{
    margin-bottom: 0px;
    display: inline-block;
}

.server-status span{
    background-color: rgb(219, 219, 219);
    padding: 5px 8px;
    border: solid 1px black;
    border-radius: 10px;
    margin-left: 10px;
}

.server-buttons{
    float: right;
}

#project-view-servers-error{
    font-size: 120%;
    font-style: italic;
}

/* -------------------------------------- */
/* ----------------DELETE---------------- */
/* -------------------------------------- */

.delete-view-row{
    overflow: hidden;
    width: 100%;
    /* background-color: red; */
}

.delete-view-row-label{
    /* background-color: green; */
    font-weight: 500;
    text-align: right;
    padding-top: 10px;
}

.delete-view-row-input{
    /* background-color: blue; */
}

.delete-view-row-input input{
    padding: 8px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.delete-view-row-input p{
    font-style: italic;
    margin-bottom: 10px;
}


.delete-buttons{
    margin-bottom: 200px;
}

.delete-buttons li{
    list-style: none;
    float: right;
}

.delete-buttons li button{
    margin-right: 15px;
}

/* -------------------------------------- */
/* ---------BACK TO DASHBOARD------------ */
/* -------------------------------------- */

.back-button{
    position: fixed;
    margin-top: 6vh;
    margin-left: 10px;
}

.back-button button{
    padding: 5px 8px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.back-button button i{
    margin-right: 5px;
}

.back-button button:hover,
.back-button button:active{
    background-color: rgb(173, 173, 173);
}

/* -------------------------------------- */
/* ---------------DISPLAY---------------- */
/* -------------------------------------- */

/* .project-view{
    display: none;
} */

#project-view-project{
    overflow: hidden;
    /* display: block; */
    display: block;
}

#project-view-issues{
    overflow: hidden;
    display: none;
}

#project-view-members{
    overflow: hidden;
    display: none;
}

#project-view-servers{
    overflow: hidden;
    display: none;
}

#project-view-delete{
    overflow: hidden;
    display: none;
}
