/* ------------------------------------- */
/* ----------DEFAULT SETUP-------------- */
/* ------------------------------------- */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* color: ; */
    background-color: whitesmoke;
    text-rendering: optimizeLegibility;
}

/* ------------------------------------- */
/* -----------REUSABLE COMPONENT-------- */
/* ------------------------------------- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: rgb(246, 76, 114);
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 10px 12px;
    transition: all .5s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover,
.btn:active{
    background-color: rgb(233, 39, 81);
}

/* -------------------------------------- */
/* ---------------HEADER----------------- */
/* -------------------------------------- */

header {
    background-image: linear-gradient(90deg,rgba(47, 47, 162, 0.8), rgba(153, 115, 142, 0.8)) ,url("../img/background-header.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.logo{
    width: 250px;
    float: left;
    margin-top: 40px;
    margin-left: 200px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
    margin-right: 100px;
}

.main-nav li {
    display: inline-block;
    margin-right: 50px;
}

.main-nav li a {
    text-decoration: none;
    color: white;
    font-size: 120%;
    font-weight: 400;
}

.link{
    transition: all 1s;
}

.link:hover,
.link:active {
    color: rgb(248, 166, 166);
}

h1{
    color: white;
    letter-spacing: 2px;
    line-height: 50px;
    margin-top: 200px;
    margin-left: 200px;
}

h2{
    color: white;
    letter-spacing: 1px;
    /* font-size: ; */
    margin-top: 20px;
    margin-left: 500px;
    margin-bottom: 50px;
    font-style: italic;
}

.btn-main{
    font-size: 200%;
    margin-left: 200px;
}